In [32]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
import sys
sys.path.append('../')

from src.data import load_raw_data

In [27]:
rides = load_raw_data(year=2022)
rides

File 2022-01 was already in local storage
Downloading file 2022-02

C:\Users\HOME\Desktop\Temp\taxi_demand_predictor\data\raw\rides_2022-02.parquet: 44548KB [00:19, 2255.26KB/s]

Downloading file 2022-03

C:\Users\HOME\Desktop\Temp\taxi_demand_predictor\data\raw\rides_2022-03.parquet: 54378KB [00:24, 2238.82KB/s]

Downloading file 2022-04

C:\Users\HOME\Desktop\Temp\taxi_demand_predictor\data\raw\rides_2022-04.parquet: 53929KB [00:23, 2253.20KB/s]

Downloading file 2022-05

C:\Users\HOME\Desktop\Temp\taxi_demand_predictor\data\raw\rides_2022-05.parquet: 54257KB [00:24, 2237.29KB/s]

Downloading file 2022-06

C:\Users\HOME\Desktop\Temp\taxi_demand_predictor\data\raw\rides_2022-06.parquet: 54068KB [00:26, 2032.94KB/s]

Downloading file 2022-07

C:\Users\HOME\Desktop\Temp\taxi_demand_predictor\data\raw\rides_2022-07.parquet: 48211KB [00:22, 2162.51KB/s]

Downloading file 2022-08

C:\Users\HOME\Desktop\Temp\taxi_demand_predictor\data\raw\rides_2022-08.parquet: 48552KB [00:21, 2237.18KB/s]

Downloading file 2022-09

C:\Users\HOME\Desktop\Temp\taxi_demand_predictor\data\raw\rides_2022-09.parquet: 48457KB [00:22, 2197.03KB/s]

Downloading file 2022-10

C:\Users\HOME\Desktop\Temp\taxi_demand_predictor\data\raw\rides_2022-10.parquet: 55725KB [00:24, 2247.07KB/s]

Downloading file 2022-11

C:\Users\HOME\Desktop\Temp\taxi_demand_predictor\data\raw\rides_2022-11.parquet: 48933KB [00:21, 2243.88KB/s]

Downloading file 2022-12

C:\Users\HOME\Desktop\Temp\taxi_demand_predictor\data\raw\rides_2022-12.parquet: 52384KB [00:26, 1998.21KB/s]

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3399544 2022-12-31 23:46:00                  16
3399545 2022-12-31 23:13:24                  75
3399546 2022-12-31 23:00:49                 168
3399547 2022-12-31 23:02:50                 238
3399548 2022-12-31 23:00:15                  85

[39654639 rows x 2 columns]

In [28]:
import sys
sys.path.append('../')

from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 262/262 [00:07<00:00, 36.79it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00     11                   4
1       2022-01-01 01:00:00     15                   4
2       2022-01-01 02:00:00     26                   4
3       2022-01-01 03:00:00      8                   4
4       2022-01-01 04:00:00      9                   4
...                     ...    ...                 ...
2295377 2022-12-31 20:00:00      0                 199
2295378 2022-12-31 21:00:00      0                 199
2295379 2022-12-31 22:00:00      0                 199
2295380 2022-12-31 23:00:00      0                 199
2295381 2023-01-01 00:00:00      0                 199

[2295382 rows x 3 columns]

In [31]:
import sys
sys.path.append('../')

import importlib
import src.data
importlib.reload(src.data)

from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=27*28*1, # one week of history
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 262/262 [00:08<00:00, 31.89it/s]

features.shape=(87508, 758)
targets.shape=(87508,)

In [35]:
import sys
sys.path.append('../')

import importlib
import src.paths
importlib.reload(src.paths)

tabular_data = features.copy()
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')